*{
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  font-size: 30px;
}
 nav {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100px;
   background-color: #2c2c2c;
   
   
 }
.nav-link{
  padding: .5rem;
  margin: 1.8rem;
  color: white;
}


table, th, td{
  border: 2px solid black;
  padding: 0.3rem 1rem;
  border-collapse: collapse;
}
 th{
  width: 350px;
  height: 70px;
 }

 th:nth-child(1){
  width: 150px
 }
 th:nth-child(2){
  width: 450px
 }



.table_container {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}

.table_container h1 {
    
  text-align: center;
  margin-bottom: 25px;
}

.table_container button {
  padding: .5rem;
  margin: 1rem;
  font-size: 25px;

}

.table_container button:hover {
  cursor: pointer;
  background-color: rebeccapurple;
  color: white;
}

.form_container {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  height: 80vh;
}

.form_container form label, input {
  font-size: 30px;
}

.form_container form input {
  padding: .5rem;
  margin: 10px;
  width: 450px;
}

form label:nth-child(1){
  margin-right: 40px;
}

form button{
  font-size: 30px;
}
